$size = 16

table
  width 100%
  border-collapse collapse

th
td
  text-align left
  border 1px solid #555

.mgl
  margin-left ($size)px

.mgl-md
  margin-left ($size * 2)px

.pd-sm
  padding ($size / 2)px

.sticky
  position sticky
  top 0
